@model BasicWebSite.Models.RemoteAttributeUser
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_Layout.cshtml";
    object areaName;
    ViewContext.RouteData.Values.TryGetValue("area", out areaName);
    areaName = areaName ?? "root";
    ViewBag.Title = "Details in " + areaName + " area.";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Person</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            <display for="Id" />
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId1)
        </dt>

        <dd>
            <display for="UserId1" />
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId2)
        </dt>

        <dd>
            <display for="UserId2" />
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId3)
        </dt>

        <dd>
            <display for="UserId3" />
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId4)
        </dt>

        <dd>
            <display for="UserId4" />
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId5)
        </dt>

        <dd>
            <display for="UserId5" />
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Create a new one", "Create")
</p>