@*#if (IndividualLocalAuth)
@using BlazorWeb_CSharp.Components.Account.Shared
##endif*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @*#if (SampleContent)
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    ##endif*@
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWeb-CSharp.styles.css" />
    @*#if (SampleContent)
    <link rel="icon" type="image/png" href="favicon.png" />
    ##endif*@
    @*#if (!InteractiveAtRoot)
    <HeadOutlet />
    ##elseif (IndividualLocalAuth)
    <HeadOutlet @rendermode="@RenderModeForPage" />
    ##elseif (UseServer && UseWebAssembly)
    <HeadOutlet @rendermode="@RenderMode.InteractiveAuto" />
    ##elseif (UseServer)
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
    ##else
    <HeadOutlet @rendermode="@RenderMode.InteractiveWebAssembly" />
    ##endif*@
</head>

<body>
    @*#if (!InteractiveAtRoot)
    <Routes />
    ##elseif (IndividualLocalAuth)
    <Routes @rendermode="@RenderModeForPage" />
    ##elseif (UseServer && UseWebAssembly)
    <Routes @rendermode="@RenderMode.InteractiveAuto" />
    ##elseif (UseServer)
    <Routes @rendermode="@RenderMode.InteractiveServer" />
    ##else
    <Routes @rendermode="@RenderMode.InteractiveWebAssembly" />
    ##endif*@
    @*#if (IndividualLocalAuth)
    <LogoutForm id="logout-form" />
    ##endif*@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
@*#if (!InteractiveAtRoot || !IndividualLocalAuth)
#elseif (UseServer && UseWebAssembly)

@code {
    [CascadingParameter] HttpContext HttpContext { get; set; } = default!;

    IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : RenderMode.InteractiveAuto;
}
#elseif (UseServer)

@code {
    [CascadingParameter] HttpContext HttpContext { get; set; } = default!;

    IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : RenderMode.InteractiveServer;
}
#else

@code {
    [CascadingParameter] HttpContext HttpContext { get; set; } = default!;

    IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : RenderMode.InteractiveWebAssembly;
}
#endif*@
