@using System
@using System.Globalization
@using System.Linq
@using System.Net
@using Microsoft.AspNetCore.Diagnostics
@functions
{
    public CompilationErrorPageModel Model { get; set; }
}
@{
    Response.StatusCode = 500;
    Response.ContentType = "text/html; charset=utf-8";
    Response.ContentLength = null; // Clear any prior Content-Length
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@Resources.ErrorPageHtml_Title</title>
        <style>
            <%$ include: ErrorPage.css %>
        </style>
    </head>
    <body>
        <h1>@Resources.ErrorPageHtml_CompilationException</h1>
        @foreach (var errorDetail in Model.ErrorDetails)
        {
            <div id="stackpage" class="page">
                @{ int tabIndex = 6; }
                @{
                    var fileName = errorDetail.StackFrames.FirstOrDefault()?.File;
                    if (!string.IsNullOrEmpty(fileName))
                    {
                        <div class="titleerror">@fileName</div>
                    }
                }
                @if (!string.IsNullOrEmpty(errorDetail.ErrorMessage))
                {
                    <details>@errorDetail.ErrorMessage</details>
                }
                <br />
                <ul>
                @foreach (var frame in errorDetail.StackFrames)
                {
                    <li class="frame" tabindex="@tabIndex">
                        @{ tabIndex++; }
                        @if (!string.IsNullOrEmpty(frame.ErrorDetails))
                        {
                            <h3>@frame.ErrorDetails</h3>
                        }

                        @if (frame.Line != 0 && frame.ContextCode.Any())
                        {
                            <div class="source">
                                @if (frame.PreContextCode.Any())
                                {
                                    <ol start="@frame.PreContextLine" class="collapsible">
                                        @foreach (var line in frame.PreContextCode)
                                        {
                                            <li><span>@line</span></li>
                                        }
                                    </ol>
                                }
                                <ol start="@frame.Line" class="highlight">
                                    @foreach (var line in frame.ContextCode)
                                    {
                                        <li><span>@line</span></li>
                                    }
                                </ol>
                                @if (frame.PostContextCode.Any())
                                {
                                    <ol start='@(frame.Line + 1)' class="collapsible">
                                        @foreach (var line in frame.PostContextCode)
                                        {
                                            <li><span>@line</span></li>
                                        }
                                    </ol>
                                } 
                            </div>
                        } 
                    </li>
                }
                </ul>
                <br />
            </div>
        }
        <script>
            //<!--
            <%$ include: ErrorPage.js %>
            //-->
        </script>
    </body>
</html>
