@page
@model PageModelWithPropertyAndArgumentBinding
Id = @Model.Id, Name = @Model.UserModel?.Name, Age = @Model.UserModel?.Age
@Html.ValidationSummary()

<form action="">
    @Html.AntiForgeryToken()
</form>