@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="model">
    <DerivedInputTextComponent @bind-Value="@model.TextValue" id="derived-input-text" />
    <DerivedInputTextareaComponent @bind-Value="@model.TextValue" id="derived-input-textarea" />
    <DerivedInputDateComponent @bind-Value="@model.DateValue" id="derived-input-date" />
    <DerivedInputNumberComponent @bind-Value="@model.IntValue" id="derived-input-number" />
    <DerivedInputCheckboxComponent @bind-Value="@model.BoolValue" id="derived-input-checkbox" />
    <DerivedInputRadioGroupComponent @bind-Value="@model.RadioValue">
        <InputRadio Value="@DayOfWeek.Saturday" id="input-radio-sunday" />
    </DerivedInputRadioGroupComponent>
</EditForm>

<button id="move-focus-button">Move focus</button>

@code
{
    // Repro for https://github.com/dotnet/aspnetcore/issues/40097

    private Model model = new Model();
    private class Model
    {
        public string TextValue { get; set; }
        public DateTime? DateValue { get; set; }
        public int? IntValue { get; set; }
        public bool BoolValue { get; set; }
        public DayOfWeek RadioValue { get; set; } = DayOfWeek.Monday;
    }
}
