@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@person" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />

    <p>
        Name: <InputText bind-Value="@person.Name" ValueExpression="@(() => person.Name)" />
    </p>
    <p>
        Age (years): <InputNumber bind-Value="@person.AgeInYears" ValueExpression="@(() => person.AgeInYears)" />
    </p>
    <p>
        Description: <InputTextArea bind-Value="@person.Description" ValueExpression="@(() => person.Description)" />
    </p>
    <p>
        Renewal date: <InputDate bind-Value="@person.RenewalDate" ValueExpression="@(() => person.RenewalDate)" />
    </p>
    <p>
        Accepts terms: <InputCheckbox bind-Value="@person.AcceptsTerms" ValueExpression="@(() => person.AcceptsTerms)" />
    </p>

    <button type="submit">Submit</button>

    <ValidationSummary />
</EditForm>

<ul>@foreach (var entry in submissionLog) { <li>@entry</li> }</ul>

@functions {
    Person person = new Person();

    // Usually this would be in a different file
    class Person
    {
        [Required, StringLength(10)]
        public string Name { get; set; }

        [Range(0, 200)]
        public int AgeInYears { get; set; }

        public DateTime RenewalDate { get; set; } = DateTime.Now;

        [Required, Range(typeof(bool), "true", "true", ErrorMessage = "Must accept terms")]
        public bool AcceptsTerms { get; set; }

        [Required, StringLength(20)]
        public string Description { get; set; }
    }

    List<string> submissionLog = new List<string>(); // So we can assert about the callbacks

    Task HandleValidSubmitAsync(EditContext editContext)
    {
        submissionLog.Add("OnValidSubmit");
        StateHasChanged(); // Temporary workaround for event routing bug
        return Task.CompletedTask;
    }
}
