@using Microsoft.AspNetCore.Components.Web.Extensions

<p>
    @for (int i = 0; i < titles.Length; i++)
    {
        var titleId = i;

        <button @onclick="() => ToggleTitle(titleId)">@(titles[titleId] ? "Disable" : "Enable") title @titleId</button>

        if (titles[titleId])
        {
            <Title Value="@($"Title {titleId}")" />
        }
    }
</p>

<p>
    <button @onclick="ToggleMetaDescription">@(renderMeta ? "Disable" : "Enable") meta</button>
    @if (renderMeta)
    {
        <Meta Name="description" Content="This is a meta tag, wheeee!"/>
    }
</p>

<p>
    <button @onclick="ToggleMetaCharset">@(renderCharset ? "Disable" : "Enable") charset</button>
    @if (renderCharset)
    {
        <Meta Charset="us-ascii" />
    }
</p>

@code {
    private readonly bool[] titles = Enumerable.Repeat(false, 6).ToArray();

    private bool renderMeta = false;
    private bool renderCharset = false;

    private void ToggleTitle(int titleId)
    {
        titles[titleId] = !titles[titleId];
        StateHasChanged();
    }

    private void ToggleMetaDescription()
    {
        renderMeta = !renderMeta;
        StateHasChanged();
    }

    private void ToggleMetaCharset()
    {
        renderCharset = !renderCharset;
        StateHasChanged();
    }
}
