@using Microsoft.AspNetCore.Components.Virtualization

<p>
    Item size:<br />
    <input type="number" @bind-value="itemSize" />
</p>

<p>
    Stacked lists (fixed):<br />
    <div id="stacked-container" style="background-color: #eee; height: 500px; overflow-y: auto">
        <Virtualize Items="@fixedItems" ItemSize="itemSize">
            <div @key="@context" id="stacked-top-item" style="height: @(itemSize)px; background-color: rgb(@((context % 2) * 255), @((1-(context % 2)) * 255), 255);">Item @context</div>
        </Virtualize>
        <Virtualize Items="@fixedItems" ItemSize="itemSize">
            <div @key="@context" id="stacked-bottom-item" style="height: @(itemSize)px; background-color: rgb(0, @((context % 2) * 255), @((1-(context % 2)) * 255));">Item @context</div>
        </Virtualize>
    </div>
</p>

<p>
    Infinite scrolling (large batch size):<br />
    <div style="background-color: #eee; height: 500px; overflow-y: auto">
        <InfiniteScroll ItemsProvider="GetItemsAsync" ItemSize="itemSize" RequestedItemCount="50">
            <Item>
                <div @key="@context" style="height: @(itemSize)px; background-color: rgb(@((context % 2) * 255), @((1-(context % 2)) * 255), 255);">Item @context</div>
            </Item>
            <Footer>
                <div style="height: @(itemSize)px; background-color: orange;">
                    Loading...
                </div>
            </Footer>
        </InfiniteScroll>
    </div>
</p>

<p>
    Infinite scrolling (small batch size):<br />
    <div style="background-color: #eee; height: 500px; overflow-y: auto">
        <InfiniteScroll ItemsProvider="GetItemsAsync" ItemSize="itemSize" RequestedItemCount="1">
            <Item>
                <div @key="@context" style="height: @(itemSize)px; background-color: rgb(@((context % 2) * 255), @((1-(context % 2)) * 255), 255);">Item @context</div>
            </Item>
            <Footer>
                <div style="height: @(itemSize)px; background-color: orange;">
                    Loading...
                </div>
            </Footer>
        </InfiniteScroll>
    </div>
</p>

<p>
    Deferred:<br />
    <div style="background-color: #eee; height: 500px; overflow-y: auto">
        <Virtualize ItemsProvider="GetLimitedItemsAsync" ItemSize="itemSize">
            <Item>
                <div @key="@context" style="height: @(itemSize)px; background-color: rgb(@((context % 2) * 255), @((1-(context % 2)) * 255), 255);">Item @context</div>
            </Item>
            <Placeholder>
                <div @key="@($"placeholder-{context}")" style="height: @(itemSize)px; background-color: orange;">Loading item @context...</div>
            </Placeholder>
        </Virtualize>
    </div>
</p>

<p>
    Viewport as root (fixed):<br />
    <Virtualize Items="@fixedItems" ItemSize="itemSize">
        <div @key="@context" style="height: @(itemSize)px; background-color: rgb(@((context % 2) * 255), @((1-(context % 2)) * 255), 255);">Item @context</div>
    </Virtualize>
</p>

@code {
    float itemSize = 100;
    ICollection<int> fixedItems = Enumerable.Range(0, 1000).ToList();

    int itemCountLimit = 200;

    async Task<ItemsProviderResult<int>> GetItemsAsync(ItemsProviderRequest request)
    {
        await Task.Delay(request.Count * 10, request.CancellationToken);

        if (request.StartIndex >= 300)
        {
            throw new InvalidOperationException("Request timed out.");
        }

        return new ItemsProviderResult<int>(
            Enumerable.Range(request.StartIndex, request.Count).ToList(),
            request.StartIndex + request.Count);
    }

    async Task<ItemsProviderResult<int>> GetLimitedItemsAsync(ItemsProviderRequest request)
    {
        await Task.Delay(500, request.CancellationToken);

        return new ItemsProviderResult<int>(Enumerable.Range(request.StartIndex, request.Count).ToList(), itemCountLimit);
    }
}
