@page "/persist-multiple-state-declaratively"
@using Microsoft.AspNetCore.Components.Web

<h1>Persist multiple State Components declaratively</h1>

@if (Server.GetValueOrDefault())
{
    <strong>Server Persist State Component 1</strong>
    <TestContentPackage.DeclarativePersistStateComponentWrapper KeyDirective=1 InitialValue="restored 1" KeyName="server-1" @rendermode="@RenderMode.InteractiveServer" />
    <hr />
    <strong>Server Persist State Component 2</strong>
    <TestContentPackage.DeclarativePersistStateComponentWrapper KeyDirective=2 InitialValue="restored 2" KeyName="server-2" @rendermode="@RenderMode.InteractiveServer" />
    <hr />
}

@if (WebAssembly.GetValueOrDefault())
{
    <strong>WebAssembly Persist State Component 1</strong>
    <TestContentPackage.DeclarativePersistStateComponentWrapper KeyDirective=1 InitialValue="restored 1" KeyName="wasm-1" @rendermode="@RenderMode.InteractiveWebAssembly" />
    <hr />
    <strong>WebAssembly Persist State Component 2</strong>
    <TestContentPackage.DeclarativePersistStateComponentWrapper KeyDirective=2 InitialValue="restored 2" KeyName="wasm-2" @rendermode="@RenderMode.InteractiveWebAssembly" />
    <hr />
}

@if (Auto.GetValueOrDefault())
{
    <strong>Auto Persist State Component 1</strong>
    <TestContentPackage.DeclarativePersistStateComponentWrapper KeyDirective=1 InitialValue="restored 1" KeyName="auto-1" @rendermode="@RenderMode.InteractiveAuto" />
    <hr />
    <strong>Auto Persist State Component 2</strong>
    <TestContentPackage.DeclarativePersistStateComponentWrapper KeyDirective=2 InitialValue="restored 2" KeyName="auto-2" @rendermode="@RenderMode.InteractiveAuto" />
    <hr />
}

@code {
    [Parameter, SupplyParameterFromQuery(Name = "server")]
    public bool? Server { get; set; }

    [Parameter, SupplyParameterFromQuery(Name = "wasm")]
    public bool? WebAssembly { get; set; }

    [Parameter, SupplyParameterFromQuery(Name = "auto")]
    public bool? Auto { get; set; }
}
