@using BasicWebSite.RazorComponents;
@model bool;
<h1>Razor components</h1>
<div id="Greetings">
    @if (Model)
    {
        @(await Html.RenderComponentAsync<Greetings>())
    }
    else
    {
        @(await Html.PrerenderComponentAsync<Greetings>())
    }
</div>

<div id="FetchData">
    @if (Model)
    {
        @(await Html.RenderComponentAsync<FetchData>(new { StartDate = new DateTime(2019, 01, 15) }))
    }
    else
    {
        @(await Html.PrerenderComponentAsync<FetchData>(new { StartDate = new DateTime(2019, 01, 15) }))
    }
</div>

<div id="Routing">
    @if (Model)
    {
        @(await Html.RenderComponentAsync<RouterContainer>());
    }
    else
    {
        @(await Html.PrerenderComponentAsync<RouterContainer>());
    }
</div>