@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p id="counter">Current count: @CurrentCount</p>

<form method="post">
    <input name="@nameof(CurrentCount)" type="hidden" value="@CurrentCount" />
    <button name="@nameof(Action)" value="@ActionType.Increment" class="btn btn-primary">Increment</button>
    <button name="@nameof(Action)" value="@ActionType.Decrement" class="btn btn-primary">Decrement</button>
</form>

@code {
    [Parameter, SupplyParameterFromForm] public int CurrentCount { get; set; }
    [Parameter, SupplyParameterFromForm] public ActionType Action { get; set; }

    protected override void OnInitialized()
    {
        switch (Action)
        {
            case ActionType.Increment: CurrentCount++; break;
            case ActionType.Decrement: CurrentCount--; break;
        }
    }

    public enum ActionType { Increment, Decrement }
}
