<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/bootstrap-icons/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/site.css"]" />
    <link href="@Assets["BlazorUnitedApp.styles.css"]" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <ImportMap nonce="my-value" />
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script>
        Blazor.start({
           circuit: {
             reconnectionHandler: {
               onConnectionDown: () => displayReconectButton(),
               onConnectionUp: () => {
                   // revertState();
               }
             },
             detailedErrors: true
           }
         });

         function disconnect() {
            console.log("Disconnecting")
            Blazor._internal.forceCloseConnection();
            document.getElementById("reconnect-button").style.visibility = "visible";
            document.getElementById("close-connection").style.visibility = "hidden";
         }
         function revertState() {
            console.log("Restoring connection")
            document.getElementById("reconnect-button").style.visibility = "hidden";
            document.getElementById("close-connection").style.visibility = "visible";
         }
    </script>
</body>
</html>
