<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/bootstrap-icons/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/site.css"]" />
    <link href="@Assets["BlazorUnitedApp.styles.css"]" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <ImportMap nonce="my-value" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>
</html>
