<html>
    <head>
        <meta name="description" content="@ViewData["Description"]" />
        <meta name="keywords" content="@ViewData["Keywords"]" />
        <meta name="author" content="@ViewData["Author"]" />
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
