<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – MVC Music Store</title>

    @*TODO : Until script helpers are available, adding script references manually*@
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script>
        @*To display what's new in the store*@
        $(function () {
            $.connection.hub.logging = true;
            var announcementsHub = $.connection.Announcement;

            announcementsHub.client.announcement = function (item) {
                var newArrivals = $('a#NewArrivalsPanel');
                newArrivals.attr("href", item.Url); //Set the URL
                newArrivals.text(item.Title); //Set the title
            };

            $.connection.hub.start().done(function () {
                console.log('hub connection open');
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASP.NET MVC Music Store", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @await Component.InvokeAsync("GenreMenu")
                    @await Component.InvokeAsync("CartSummary")
                    @await Component.InvokeAsync("Announcement")
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar navbar-fixed-bottom navbar-default text-center">
            <p><a href="https://www.github.com/aspnet/MusicStore">www.github.com/aspnet/MusicStore</a></p>
            <small>@Html.ActionLink("admin", "Index", "StoreManager", new { area = "Admin" })</small>
        </footer>
    </div>

    @*TODO : Until script helpers are available, adding script references manually*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>