
@using TagHelperSample.Web.Models
@model IList<User>

<environment names="development">
    Hello, you're in Development
</environment>

<h2>Index</h2>
@if (Model != null && Model.Count() != 0)
{
    <div class="form-horizontal">
        @for (var index = 0; index < Model.Count(); ++index)
        {
            <div class="form-group">
                <label asp-for="@Model[index].Name" />
                <input type="text" asp-for="@Model[index].Name" disabled="disabled" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="@Model[index].DateOfBirth" />
                <input type="date" asp-for="@Model[index].DateOfBirth" asp-format="{0:yyyy-MM-dd}" disabled="disabled" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="@Model[index].YearsEmployeed" />
                <input type="number" asp-for="@Model[index].YearsEmployeed" disabled="disabled" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="@Model[index].Blurb" />
                <textarea rows="4" asp-for="@Model[index].Blurb" disabled="disabled" readonly="readonly" />
            </div>

            <p>
                <a asp-action="Edit" asp-route-id="@index">Edit</a>
            </p>
        }
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
