@*Bug: Having a ViewBag.Title throws compilation error: https://github.com/aspnet/WebFx/issues/67*@
@{
    //Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Music Store</h1>
    @*Bug: Having a ~ in url throws compilation error : https://github.com/aspnet/WebFx/issues/66*@
    <img src="/Images/home-showcase.png" />
</div>


<ul class="row list-unstyled" id="album-list">
    @foreach (var album in Model)
    {
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
            <a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
                @*Bug: Url helpers not implemented yet*@
                @*<img alt="@album.Title" src="@Url.Content(@album.AlbumArtUrl)" />*@
                <img alt="@album.Title" src="@album.AlbumArtUrl" />
                <h4>@album.Title</h4>
            </a>
        </li>
    }
</ul>