@model MusicStore.Models.Album

@{
    //Bug: Need to have a way to specify an application level layout page
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Album - " + Model.Title;
}

<h2>@Model.Title</h2>

<p>
    <img alt="@Model.Title" src="@Url.Content(@Model.AlbumArtUrl)" />
</p>

<div id="album-details">
    <p>
        <em>Genre:</em>
        @Model.Genre.Name
    </p>
    <p>
        <em>Artist:</em>
        @Model.Artist.Name
    </p>
    <p>
        <em>Price:</em>
        @Html.ValueFor(model => model.Price)
    </p>
    <p class="button">
        @*https://github.com/aspnet/WebFx/issues/246*@
        @*@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId })*@
        <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = Model.AlbumId })">Add to cart</a>
    </p>
</div>