@using Microsoft.AspNetCore.Components.Sections

<h1>Parent Component</h1>

@if (SectionOutletExists)
{
    <SectionOutlet Name="@firstSectionName" />
}

<p>Text between two section outlets</p>

<SectionOutlet Name="@secondSectionName" />

<button id="section-outlet-dispose"
        @onclick="@(() => SectionOutletExists = false)">
        Dispose first SectionOutlet
</button>

<Counter
    SectionContentExists="@CounterSectionContentExists"
    SectionName="@CounterSectionContentName"
    IsDefaultContent="@CounterIsDefaultContent">
</Counter>

<br />

<button id="counter-render-section-content"
    @onclick="@(() => CounterSectionContentExists = true)">
    Render Counter SectionContent
</button><br />

<button id="counter-dispose-section-content"
        @onclick="@(() => CounterSectionContentExists = false)">
    Dispose Counter SectionContent
</button><br />

<button id="counter-change-section-content-name"
        @onclick="@(() => CounterSectionContentName = secondSectionName)">
        Change Counter SectionContent Name
</button><br />

<button id="counter-change-section-content-name-nonexisting"
        @onclick="@(() => CounterSectionContentName = "test3")">
    Change Counter SectionContent Name to non sexisting
</button><br />

<button id="counter-section-content-make-default"
        @onclick="@(() => CounterIsDefaultContent = true)">
    Make Counter's SectionContent Default
</button><br />

<button id="counter-section-content-make-non-default"
        @onclick="@(() => CounterIsDefaultContent = false)">
    Make Counter's SectionContent Non Default
</button>

<TextComponent
    SectionContentExists="@TextComponentSectionContentExists"
    SectionName="@TextComponentSectionContentName"
    IsDefaultContent="@TextComponentIsDefaultContent">
</TextComponent>

<button id="text-render-section-content"
        @onclick="@(() => TextComponentSectionContentExists= true)">
    Render TextComponent SectionContent
</button><br />

<button id="text-dispose-section-content"
        @onclick="@(() => TextComponentSectionContentExists = false)">
    Dispose TextComponent SectionContent
</button><br />

<button id="text-section-content-make-default"
        @onclick="@(() => TextComponentIsDefaultContent = true)">
    Make TextComponent's SectionContent Default
</button><br />

@code {
    private const string firstSectionName = "test1";
    private const string secondSectionName = "test2";

    public bool CounterSectionContentExists { get; set; } = false;
    public bool TextComponentSectionContentExists { get; set; } = false;   

    public string CounterSectionContentName { get; set; } = firstSectionName;
    public string TextComponentSectionContentName { get; set; } = firstSectionName;

    public bool CounterIsDefaultContent { get; set; } = false;
    public bool TextComponentIsDefaultContent { get; set; } = false;

    public bool SectionOutletExists { get; set; } = true;
}
