@using Microsoft.AspNetCore.Components.Sections

<h1>Parent Component</h1>

@if (SectionOutletExists)
{
    <SectionOutlet Name="@FirstSectionName" />
}

<p>Text between two section outlets</p>

<SectionOutlet Name="@SecondSectionName" />

<button id="section-outlet-dispose"
        @onclick="@(() => SectionOutletExists = false)">
        Dispose first SectionOutlet
</button>

<Counter
    SectionContentExists="@CounterSectionContentExists"
    SectionName="@CounterSectionContentName"
    IsDefaultContent="@CounterIsDefaultContent">
</Counter>

<br />

<button id="counter-render-section-content"
    @onclick="@(() => CounterSectionContentExists = true)">
    Render Counter SectionContent
</button><br />

<button id="counter-dispose-section-content"
        @onclick="@(() => CounterSectionContentExists = false)">
    Dispose Counter SectionContent
</button><br />

<button id="counter-change-section-content-name"
        @onclick="@(() => CounterSectionContentName = SecondSectionName)">
        Change Counter SectionContent Name
</button><br />

<button id="counter-change-section-content-name-nonexisting"
        @onclick="@(() => CounterSectionContentName = "test3")">
    Change Counter SectionContent Name to non sexisting
</button><br />

<button id="counter-section-content-make-default"
        @onclick="@(() => CounterIsDefaultContent = true)">
    Make Counter's SectionContent Default
</button><br />

<button id="counter-section-content-make-non-default"
        @onclick="@(() => CounterIsDefaultContent = false)">
    Make Counter's SectionContent Non Default
</button>

<TextComponent
    SectionContentExists="@TextComponentSectionContentExists"
    SectionName="@TextComponentSectionContentName"
    IsDefaultContent="@TextComponentIsDefaultContent">
</TextComponent>

<button id="text-render-section-content"
        @onclick="@(() => TextComponentSectionContentExists= true)">
    Render TextComponent SectionContent
</button><br />

<button id="text-dispose-section-content"
        @onclick="@(() => TextComponentSectionContentExists = false)">
    Dispose TextComponent SectionContent
</button><br />

<button id="text-section-content-make-default"
        @onclick="@(() => TextComponentIsDefaultContent = true)">
    Make TextComponent's SectionContent Default
</button><br />

@code {
    private const string FirstSectionName = "test1";
    private const string SecondSectionName = "test2";

    private bool CounterSectionContentExists = false;
    private bool TextComponentSectionContentExists = false;

    private string CounterSectionContentName = FirstSectionName;
    private string TextComponentSectionContentName = FirstSectionName;

    private bool CounterIsDefaultContent = false;
    private bool TextComponentIsDefaultContent = false;

    private bool SectionOutletExists = true;
}
