<style>
    .validationSummary {
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: #e4e3e3;
    }
</style>

<h1>ValidationSummary Test Page.</h1>
<p>Below are all overloads for Html.ValidationSummary.  You should see 8 validation summary titles and 4 validation summary error messages.</p>
<br />

<section class="validationSummary">
    @Html.ValidationSummary()
    @Html.ValidationSummary(excludePropertyErrors: true)
    @Html.ValidationSummary(message: "Hello from validation message summary 1.")
    @Html.ValidationSummary(message: "Hello from validation message summary 2.", tag: "h2")
    @Html.ValidationSummary(excludePropertyErrors: true, message: "Hello from validation message summary 3")
    @Html.ValidationSummary(message: "Hello from validation message summary 4", htmlAttributes: new { style = "color: red" })
    @Html.ValidationSummary(message: "Hello from validation message summary 5", htmlAttributes: new { style = "color: red" }, tag: "h2")
    @Html.ValidationSummary(excludePropertyErrors: true, message: "Hello from validation message summary 6", tag: "h2")
    @Html.ValidationSummary(excludePropertyErrors: true, message: "Hello from validation message summary 7", htmlAttributes: new { style = "color: green" })
    @Html.ValidationSummary(message: "Hello from validation message summary 8", htmlAttributes: new Dictionary<string, object> { { "style", "color: blue" } }, tag: "h2")
</section>