@using HtmlGenerationWebSite.Components
@using HtmlGenerationWebSite.Models
@using Microsoft.AspNetCore.Mvc.ModelBinding.Metadata
@model ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var metadata = ViewData.ModelMetadata;
}

<div class="row">
    <h4>At Model index</h4>
    <div class="col-md-3">MetadataKind: '@metadata.MetadataKind'</div>
    <div class="col-md-3">ModelType: '@metadata.ModelType.Name'</div>
    @if (metadata.MetadataKind == ModelMetadataKind.Property)
    {
        <div class="col-md-3">PropertyName: '@metadata.PropertyName'</div>
    }
</div>

<div class="row">
    <display for="@Model" />
</div>
<div class="row">
    @(await Html.PartialAsync("PartialForViewModel"))
</div>
<div class="row">
    @(await Component.InvokeAsync<CheckViewData>())
</div>
<div class="row">
    <display for="Integer" />
</div>
<div class="row">
    <display for="NullableLong" />
</div>
<div class="row">
    <display for="Template" />
</div>