@using HtmlGenerationWebSite.Components
@using HtmlGenerationWebSite.Models
@using Microsoft.AspNetCore.Mvc.ModelBinding.Metadata

@{
    var metadata = ViewData.ModelMetadata;
}

<h5>Template for Int64</h5>
<div class="col-md-3">MetadataKind: '@metadata.MetadataKind'</div>
<div class="col-md-3">ModelType: '@metadata.ModelType.Name'</div>
@if (metadata.MetadataKind == ModelMetadataKind.Property)
{
    <div class="col-md-3">PropertyName: '@metadata.PropertyName'</div>
}

<div class="row">
    @(await Html.PartialAsync(partialViewName: "LackModel.cshtml"))
</div>
<div class="row">
    @(await Component.InvokeAsync<CheckViewData___LackModel>())
</div>
