@page "/clientfetchdata/"
@using BlazorUnitedApp.Client.Data
@using Microsoft.AspNetCore.Components.Web
@inject ClientWeatherForecastService ForecastService
@inject NavigationManager NavigationManager
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveWebAssembly

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<p>Current Url = @Page</p>

<ul>
    <li>
        <a href="clientfetchdata/?page=0">Page 0</a>
    </li>
    <li>
        <a href="clientfetchdata/?page=1">Page 1</a>
    </li>
    <li>
        <a href="clientfetchdata/?page=2">Page 2</a>
    </li>
</ul>

@code {
    [PersistentState(AllowUpdates = true)]
    public ClientWeatherForecast[]? Forecasts { get; set; }

    public string Page { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        // Extract the page from the query string
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var pageParam = uri.Query.Split('&')
            .Select(q => q.Split('='))
            .FirstOrDefault(q => q.Length == 2 && q[0] == "page")?[1];
        int pageIndex = 1 + (int.TryParse(pageParam, out int parsedPage) ? parsedPage : 0);
        pageIndex *= 7;

        Forecasts ??= await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now).AddDays(pageIndex));
    }

    protected override void OnParametersSet()
    {
        Page = NavigationManager.Uri;
    }
}
