<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" aria-current="@ManageNavPages.IndexAriaCurrent(ViewContext)">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" aria-current="@ManageNavPages.EmailAriaCurrent(ViewContext)">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword" aria-current="@ManageNavPages.ChangePasswordAriaCurrent(ViewContext)">Password</a></li>
    @if ((bool)(ViewData["ManageNav.HasExternalLogins"] ?? false))
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins" aria-current="@ManageNavPages.ExternalLoginsAriaCurrent(ViewContext)">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication" aria-current="@ManageNavPages.TwoFactorAuthenticationAriaCurrent(ViewContext)">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" aria-current="@ManageNavPages.PersonalDataAriaCurrent(ViewContext)">Personal data</a></li>
</ul>
