@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@namespace Microsoft.AspNetCore.Components.QuickGrid

<div class="paginator">
    @if (State.TotalItemCount.HasValue)
    {
        <div class="summary">
            @if (SummaryTemplate is not null)
            {
                @SummaryTemplate
            }
            else
            {
                <text><strong>@State.TotalItemCount</strong> items</text>
            }
        </div>
        <nav role="navigation">
            @if (RendererInfo.IsInteractive)
            {
                <button class="go-first" type="button" @onclick="GoFirstAsync" disabled="@(!CanGoBack)" title="Go to first page" aria-label="Go to first page"></button>
                <button class="go-previous" type="button" @onclick="GoPreviousAsync" disabled="@(!CanGoBack)" title="Go to previous page" aria-label="Go to previous page"></button>
                <div class="pagination-text">
                    Page <strong>@(State.CurrentPageIndex + 1)</strong>
                    of <strong>@(State.LastPageIndex + 1)</strong>
                </div>
                <button class="go-next" type="button" @onclick="GoNextAsync" disabled="@(!CanGoForwards)" title="Go to next page" aria-label="Go to next page"></button>
                <button class="go-last" type="button" @onclick="GoLastAsync" disabled="@(!CanGoForwards)" title="Go to last page" aria-label="Go to last page"></button>
            }
            else
            {
                <form data-enhance method="post" @formname="@FormNameFirst" @onsubmit="() => GoFirstAsync()">
                    <AntiforgeryToken />
                    <button class="go-first" type="submit" disabled="@(!CanGoBack)" title="Go to first page" aria-label="Go to first page"></button>
                </form>
                <form data-enhance method="post" @formname="@FormNamePrevious" @onsubmit="() => GoPreviousAsync()">
                    <AntiforgeryToken />
                    <button class="go-previous" type="submit" disabled="@(!CanGoBack)" title="Go to previous page" aria-label="Go to previous page"></button>
                </form>
                <div class="pagination-text">
                    Page <strong>@(State.CurrentPageIndex + 1)</strong>
                    of <strong>@(State.LastPageIndex + 1)</strong>
                </div>
                <form data-enhance method="post" @formname="@FormNameNext" @onsubmit="() => GoNextAsync()">
                    <AntiforgeryToken />
                    <button class="go-next" type="submit" disabled="@(!CanGoForwards)" title="Go to next page" aria-label="Go to next page"></button>
                </form>
                <form data-enhance method="post" @formname="@FormNameLast" @onsubmit="() => GoLastAsync()">
                    <AntiforgeryToken />
                    <button class="go-last" type="submit" disabled="@(!CanGoForwards)" title="Go to last page" aria-label="Go to last page"></button>
                </form>
            }
        </nav>
    }
</div>
