@model IEnumerable<(string FirstName, string LastName, object FavoriteNumber)>

    @foreach (var person in Model)
    {
        <p>
            <strong>@person.FirstName @person.LastName's</strong> favorite number is

            <em>
                @switch (person.FavoriteNumber)
                {
                    case double doubleVal:
                        <text>(double) @doubleVal</text>
                        break;
                    case long longVal:
                        <text>(long) @longVal</text>
                        break;
                    case decimal longVal:
                        <text>(decimal) @longVal</text>
                        break;

                }
            </em>
        </p>
    }