@foreach (var name in Data?.Names)
{
    <p>@name</p>
}
@if(Data == null)
{
    <p>No names.</p>
}
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            </RouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

@code{
    [Parameter] public AppState Data { get; set; }
}
